<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
              <h3>EDITAR PROMOCIÓN</h3>

              <md-button type="submit" class="md-raised md-accent action-button" aria-label="Guardar"
                        ng-click="vm.update(updateForm)">
                  Actualizar
              </md-button>

            </div>
          </md-toolbar>
          <md-content class="md-padding">


            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form name="updateForm" ng-show="!vm.isLoading" ng-submit="vm.update(updateForm)" class="md-inline-form" novalidate>

              <section layout="row" layout-align="space-between start" layout-wrap>

                <div class="input-element" flex="45" flex-sm="100" flex-xs="100">
                  <label>Nombre público*</label>
                  <div class="input-element-inner">
                    <input type="text" name="Nombre" ng-model="vm.promotion.publicName" required placeholder="Nombre*">
                  </div>
                </div>

                <div class="input-element" flex="45" flex-sm="100" flex-xs="100">
                  <label>Codigo*</label>
                  <div class="input-element-inner">
                    <input type="text" name="Nombre" ng-model="vm.promotion.code" required placeholder="Nombre*">
                  </div>
                </div>

                <div class="input-element" flex="45" flex-sm="100" flex-xs="100">
                  <label>Nombre interno*</label>
                  <div class="input-element-inner">
                    <input type="text" name="Nombre_interno" ng-model="vm.promotion.name" required placeholder="Nombre interno*">
                  </div>
                </div>

                <div flex="45" flex-sm="100" flex-xs="100">
                  <p class="select-element-label"><label><strong>Tiendas</strong></label></p>
                  <md-input-container class="checkboxes-dropdown-wrap">
                    <md-select class="checkboxes-dropdown select-element" ng-model="vm.selectedStores"
                       data-md-container-class="selectdemoSelectHeader"
                       multiple
                    >
                      <md-optgroup label="Tiendas">
                        <md-option
                          ng-value="store.id"
                          ng-selected="vm.objIndexOf(vm.promotion.Stores, {id:store.id})"
                          ng-repeat="store in vm.stores">
                          {{store.name}}
                        </md-option>
                      </md-optgroup>
                    </md-select>
                  </md-input-container>
                </div>

                <div class="input-element" flex="25" flex-sm="100" flex-xs="100">
                  <label>Fecha de inicio*</label>
                  <div layout="row">
                    <div flex="60" class="input-element-inner">
                      <input ng-if="vm.promotion" type="text" pikaday="vm.myPickerStartDate" set-default-date="true" default-date="{{vm.promotion.startDate}}" on-select="vm.onSelectStartDate(pikaday)" readonly required>
                    </div>
                    <div flex="40" class="input-element-inner">
                      <input type="text" ui-timepicker ui-timepicker="vm.timePickerOptions"  ng-model="vm.startTime" placeholder="Hora" required>
                    </div>
                  </div>
                </div>

                <div class="input-element" flex="25" flex-sm="100" flex-xs="100">
                  <label>Fecha de vencimiento*</label>
                  <div layout="row">
                    <div flex="60" class="input-element-inner">
                      <input ng-if="vm.promotion" type="text" pikaday="vm.myPickerEndDate" set-default-date="true" default-date="{{vm.promotion.endDate}}" on-select="vm.onSelectEndDate(pikaday)" readonly required>
                    </div>
                    <div flex="40" class="input-element-inner">
                      <input type="text" ui-timepicker ui-timepicker="vm.timePickerOptions"  ng-model="vm.endTime" placeholder="Hora" required>
                    </div>
                  </div>
                </div>

              </section>

              <!--DISCOUNTS-->
              <section layout="row" layout-align="space-between center">
                <div ng-repeat="pg in vm.paymentGroups" class="input-element" flex="15" flex-sm="100" flex-xs="100">
                  <label>{{pg.label}} %</label>
                  <div class="input-element-inner">
                    <input
                      type="number"
                      max="{{vm.paymentGroups[0].discount}}"
                      name="{{pg.label}}"
                      ng-model="pg.discount"
                      required
                      min="0"
                      >
                  </div>
                </div>
              </section>
              <!--END DISCOUNTS-->

              <!--DISCOUNTS TEXTS-->
              <section layout="row" layout-align="space-between center">
                <div ng-repeat="pg in vm.paymentGroups" class="input-element" flex="15" flex-sm="100" flex-xs="100">
                  <label>Etiqueta - {{pg.label}}</label>
                  <div class="input-element-inner">
                    <input
                      type="text"
                      name="{{pg.label}}"
                      ng-model="pg.text"
                      required
                      >
                  </div>
                </div>
              </section>
              <!--END DISCOUNTS TEXTS-->

              <!--EWALLET BY GROUP-->
              <section class="spaced-row" layout="row" layout-align="space-between center">
                <div
                  ng-repeat="pg in vm.paymentGroups track by $index"
                  flex
                  flex-xs="100"
                  flex-sm="100"
                >
                  <label><strong>Monedero grupo de pago {{$index+1}}</strong></label>
                  <div layout="row" layout-wrap layout-align="start end">
                    <div class="input-element" flex="35" >
                      <div class="input-element-inner">
                        <input type="text" placeholder="Monedero" ng-model="pg.ewallet">
                      </div>
                    </div>
                    <div class="select-element-wrapper select-element-wrapper-nomargin" flex>
                      <md-input-container>
                        <md-select class="select-element" placeholder="Tipo" ng-model="pg.ewalletType">
                          <md-option value="ammount">Cantidad</md-option>
                          <md-option value="percentage">Porcentaje</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </section>
              <!--END EWALLET BY GROUP-->

              <!--LENTO MOVIMIENTO  AND PUSH MONEY-->
              <section layout="row" layout-align="start center">
                <div flex="25">
                  <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.promotion.hasLM">
                    Lento movimiento
                  </md-checkbox>
                </div>
                <div
                  ng-if="vm.promotion.hasLM"
                  class="input-element"
                  flex="25"
                  flex-sm="100"
                  flex-xs="100">
                  <label>Push money</label>
                  <div layout="row">
                    <div flex="40" class="input-element-inner">
                      <input type="number" ng-model="vm.promotion.pushMoneyUnit">
                    </div>
                    <div flex="60">
                      <md-select
                        ng-if="vm.promotion.hasLM"
                        required
                        class="select-element"
                        ng-model="vm.promotion.pushMoneyUnitType"
                      >
                        <md-option ng-value="'ammount'">
                          Monto
                        </md-option>
                        <md-option ng-value="'percent'">
                          Porcentaje
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
              </section>
              <!--END LENTO MOVIMIENTO  AND PUSH MONEY-->

              <!--SEARCH FILTERS-->
              <h2 class="mkt-search-title">
                <strong>Filtros de productos:</strong>
                <a class="pointer-cursor" ng-click="vm.showFilters = !vm.showFilters">
                  <span ng-if="!vm.showFilters">| Mostrar</span>
                  <span ng-if="vm.showFilters"> | Ocultar</span>
                </a>
              </h2>

              <div>
                <md-button
                  ng-show="vm.showFilters"
                  class="md-raised md-accent action-button"
                  aria-label="Buscar productos"
                  ng-click="vm.searchProds()">
                    Buscar productos
                </md-button>
              </div>

              <section ng-show="vm.showFilters">

                <!--ITEMCODE SEARCHER-->
                <h2><strong>Búscar por código</strong></h2>
                <section layout="row">
                  <div class="input-element" flex="45" flex-sm="100" flex-xs="100">
                    <label>Código del producto</label>
                    <div class="input-element-inner">
                      <input
                        type="text"
                        name="itemcode"
                        ng-model="vm.search.itemCode"
                        placeholder="Código del producto">
                    </div>
                  </div>
                </section>
                <hr>
                <!--END ITEMCODE SEARCHER-->

                <!--CATEGORY CHOOSER-->
                <div>
                  <h2><strong>CATEGORIAS</strong></h2>

                  <p>
                    <a
                      ng-click="vm.selectAllCategories()"
                      href="#">
                      Activar todas las categorias
                    </a>  
                    |                   
                    <a
                      ng-click="vm.unselectAllCategories()"
                      href="#">
                      Desactivar todas las categorias
                    </a>                    
                  </p>

                  <div layout="row" layout-align="space-between start" layout-wrap>
                    <div 
                      ng-repeat="group in vm.categoriesGroups track by $index" 
                      flex="30" 
                      flex-sm="100" 
                      flex-xs="100"
                    >
                      <p ng-if="group.length > 0">
                        <label><strong>Categorias Nivel {{$index+1}}</strong></label>
                      </p>
                      <div class="scroll-column">
                        <md-input-container class="checkboxes-dropdown-wrap">
                          <md-select 
                            class="checkboxes-dropdown select-element" 
                            ng-model="vm.selectedCategories[$index]"
                            data-md-container-class="selectdemoSelectHeader"
                            multiple
                          >
                            <md-optgroup label="Categorias">
                              <md-option
                                ng-value="category.id"
                                ng-selected="vm.objIndexOf(vm.promotion.Categories, {id:category.id})"
                                ng-repeat="category in group | filter:searchTerm | orderBy: 'Name'">
                                {{category.Name}}
                              </md-option>
                            </md-optgroup>
                          </md-select>
                        </md-input-container>
                      </div>
                    </div>
                  </div>
                </div>
                <!--END CATEGORY CHOOSER-->

                <!--FILTERS-->
                <div>
                  <h2><strong>CARACTERISTICAS DE PRODUCTOS</strong></h2>
                  <div layout="row" layout-wrap layout-align="start start">
                    <div ng-repeat="filter in vm.filters | orderBy: 'IsMultiple' track by $index" class="filter-column" flex="33" flex-xs="100">

                      <div class="scroll-column">
                        <p class="select-element-label">
                          <label><strong>{{filter.Name}}</strong></label>
                        </p>
                        <md-input-container class="checkboxes-dropdown-wrap">
                          <md-select class="checkboxes-dropdown select-element select-element-md2" ng-model="filter.selectedValues"
                             data-md-container-class="selectdemoSelectHeader"
                             multiple
                          >
                            <md-optgroup label="Valores">
                              <md-option
                                ng-value="value.id"
                                ng-selected="vm.objIndexOf(vm.promotion.FilterValues, {id:value.id})"
                                ng-repeat="value in filter.Values |
                                filter:searchTerm track by $index">
                                {{value.Name}}
                              </md-option>
                            </md-optgroup>
                          </md-select>
                        </md-input-container>

                      </div>

                    </div>

                  </div>


                </div>
                <!--END FILTERS-->


                <div layout="row">

                  <!--CUSTOM BRAND FILTER-->
                  <div flex="33">
                    <p class="select-element-label"><label><strong>Marcas</strong></label></p>
                    <md-input-container class="checkboxes-dropdown-wrap">
                      <md-select class="checkboxes-dropdown select-element select-element-md2" ng-model="vm.search.customBrands"
                         data-md-container-class="selectdemoSelectHeader"
                         multiple
                      >
                        <md-optgroup label="Valores">
                          <md-option
                            ng-value="brand.id"
                            ng-selected="vm.objIndexOf(vm.promotion.CustomBrands, {id:brand.id})"
                            ng-repeat="brand in vm.customBrands |
                            filter:searchTerm track by $index"
                            >
                            {{brand.Name}}
                          </md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                  </div>
                  <!--END CUSTOM BRAND-->

                  <!--SOCIEDADES FILTER-->
                  <div class="select-element-wrapper" flex="33">
                    <p class="select-element-label"><label><strong>Sociedad</strong></label></p>
                    <md-input-container class="checkboxes-dropdown-wrap">
                      <md-select class="checkboxes-dropdown select-element select-element-md2" ng-model="vm.search.sas"
                         data-md-container-class="selectdemoSelectHeader"
                         multiple
                      >
                        <md-optgroup label="Sociedades">
                          <md-option
                            ng-value="sa.value"
                            ng-repeat="sa in vm.sas |
                            filter:searchTerm track by $index"
                            >
                            {{sa.label}}
                          </md-option>
                        </md-optgroup>
                      </md-select>
                    </md-input-container>
                  </div>
                  <!--END SOCIEDADES FILTER-->

                </div>

                <!--DISPLAYS-->
                <div>
                  <h2><strong>Pagina Display</strong></h2>
                  <div>
                    <md-checkbox
                      class="spaced-checkbox block-checkbox"
                      ng-repeat="display in vm.displays"
                      ng-checked="vm.promotion[display.handle]"
                      ng-model="vm.search[display.handle]">{{display.label}}</md-checkbox>
                  </div>
                </div>
                <!--END DISPLAYS-->


                <!--GROUP PRODUCTS-->
                <div>
                  <h2>
                    <label><strong>AGRUPADORES</strong></label>
                  </h2>
                  <md-autocomplete
                      md-no-cache="false"
                      md-selected-item="vm.selectedGroup"
                      md-search-text="vm.searchGroupText"
                      md-items="item in vm.queryGroups(vm.searchGroupText)"
                      md-selected-item-change="vm.selectedGroupChange(item)"
                      md-item-text="item.Name + ' | ' + vm.groupTypes[item.Type]"
                      md-min-length="0"
                      placeholder="Buscar agrupador">
                    <md-item-template>
                      <span md-highlight-text="vm.searchGroupText" md-highlight-flags="^i">{{item.Name}} | {{vm.groupTypes[item.Type]}}</span>
                    </md-item-template>
                    <md-not-found>
                      No se encontro "{{vm.searchGroupText}}".
                    </md-not-found>
                  </md-autocomplete>


                  <p ng-if="vm.search.groups.length <= 0">No hay agrupadores asignados a la busqueda</p>
                  <div ng-show="vm.isLoadingGroups" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <ul ng-if="!vm.isLoadingGroups" class="draggable-list">
                    <li
                      ng-repeat="group in vm.search.groups"
                      class="noright"
                      layout="row"
                      layout-align="space-between center"
                      ng-class="{'selected-item': vm.selectedGroup === group}"
                      dnd-effect-allowed="move">
                      <p>{{group.Name}} | {{ vm.groupTypes[group.Type] }}</p>
                      <div class="md-secondary">
                        <md-button ng-click="vm.removeGroup($index)" class="md-raised md-warn">
                          Remover
                        </md-button>
                      </div>
                    </li>
                  </ul>

                </div>
                <!--GROUP PRODUCTS-->

              </section>
              <!--END SEARCH FILTERS-->

              <div>
                <md-button
                  class="md-raised md-accent action-button"
                  aria-label="Buscar productos"
                  ng-click="vm.searchProds()">
                    Buscar productos
                </md-button>
              </div>

              <section class="promo-products">
                <h2>
                  <strong>
                    Productos con esta promocion
                    <span ng-if="!vm.isLoadingProducts">
                      ({{vm.products.length - vm.getExcludedNum()}})
                    </span>:
                    <span ng-if="vm.promotion.excludedProducts.length > 0 && !vm.searchDone">
                      | Excluidos: <span class="comma-separated" ng-repeat="excluded in vm.promotion.excludedProducts">{{excluded.ItemCode}}</span>
                    </span>
                  </strong>
                </h2>
                <div ng-show="vm.isLoadingProducts" layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
                </div>

                <div ng-show="!vm.isLoadingProducts" class="scroll-column">
                    <md-checkbox
                      class="spaced-checkbox block-checkbox"
                      ng-repeat="product in vm.products track by $index"
                      ng-model="product.isActive">
                      {{product.ItemCode}} | {{ product.Name || product.ItemName}}
                    </md-checkbox>
                </div>
              </section>

              <div>
                <md-button
                  type="submit"
                  class="md-raised md-accent action-button"
                  aria-label="Guardar"
                >
                    Actualizar
                </md-button>
              </div>

            </form>

          </md-content>

          <!--<div form-helper flex="80"></div>-->
        </section>


    </div>
    <!-- / CONTENT -->
  </div>

</div>
