<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <!--
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Usuarios</div>
        </div>
    </div>
    -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
              <h3>REGISTRAR USUARIO</h3>

              <md-button type="submit" class="md-raised md-accent action-button" aria-label="Guardar"
                        ng-click="vm.sendForm(basicForm)">
                  Registrar
              </md-button>

            </div>
          </md-toolbar>
          <md-content class="md-padding">


            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form name="basicForm" ng-show="!vm.isLoading" ng-submit="vm.sendForm(basicForm)" class="md-inline-form" novalidate>

              <section layout="row" layout-wrap layout-align="space-between start">

                <div class="input-element" flex-xs="100" flex-sm="100" flex="30">
                  <label>Nombre*</label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" name="firstname" required placeholder="Nombre*">
                  </div>
                  <div ng-messages="basicForm.firstname.$error" ng-show="basicForm.firstname.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                </div>

                <div class="input-element" flex-xs="100" flex-sm="100" flex="30">
                  <label>Apellidos*</label>
                  <div class="input-element-inner">
                    <input type="text" name="lastname" ng-model="vm.user.lastName" placeholder="Apellidos"
                                 required>
                  </div>
                  <div ng-messages="basicForm.lastname.$error" ng-show="basicForm.lastname.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                </div>

                <div class="input-element" flex-xs="100" flex-sm="100" flex="30">
                  <label>Email*</label>
                  <div class="input-element-inner">
                    <input type="email" name="email" ng-model="vm.user.email" placeholder="Email"
                               translate
                               ng-pattern="/^.+@.+\..+$/" required>
                  </div>
                  <div ng-messages="basicForm.email.$error" ng-show="basicForm.email.$touched" role="alert" multiple>
                      <div ng-message="required">
                          <span>Este campo es requerido</span>
                      </div>
                      <div ng-message="pattern">
                          <span>E-mail invalido</span>
                      </div>
                  </div>
                </div>

              </section>

              <section layout="row" layout-wrap layout-align="space-between start">

                <div class="input-element" flex="45" flex-xs="100" flex-sm="100">
                  <label>Contraseña*</label>
                  <div class="input-element-inner">
                    <input type="password" name="password" ng-model="vm.user.password" placeholder="Contraseña*"
                         required>
                  </div>
                  <div ng-messages="basicForm.password.$error" ng-show="basicForm.password.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                </div>

                <div class="input-element" flex="45" flex-xs="100" flex-sm="100">
                  <label>Confirmar contraseña*</label>
                  <div class="input-element-inner">
                    <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" placeholder="Confirmar contraseña"
                                 required>
                  </div>
                  <div ng-messages="basicForm.confirmPassword.$error" ng-show="basicForm.confirmPassword.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                  <div ng-show="vm.user.confirmPassword != vm.user.password && basicForm.confirmPassword.$touched"
                       role="alert">
                      <div class="ng-message">
                          <span>El campo de contraseña y confirmar contraseña deben coincidir</span>
                      </div>
                  </div>
                </div>

              </section>

              <section layout="row" layout-wrap layout-align="start start">

                <div class="input-element " flex="30" flex-xs="100">
                  <p class="select-element-label"><label><strong>Rol</strong></label></p>
                  <md-input-container>
                    <md-select class="select-element select-element-md" ng-model="vm.user.userType">
                      <md-option ng-repeat="role in vm.roles track by $index" value="{{role.handle}}">
                        {{role.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <!--Tienda-->
                <div class="input-element" flex="30" flex-xs="100">
                  <p class="select-element-label"><label><strong>Tienda</strong></label></p>
                  <md-input-container>
                    <md-select class="select-element select-element-md" ng-model="vm.user.company">

                      <md-option ng-repeat="company in vm.companies track by $index" ng-value="company.handle">
                        {{company.label}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <!--Tienda-->

                <div  class="input-element " flex="30" flex-xs="100">
                  <p class="select-element-label"><label><strong>Vendedor(SAP)</strong></label></p>
                  <md-input-container>
                    <md-select class="select-element select-element-md" ng-model="vm.user.SlpCode">
                      <md-option ng-repeat="seller in vm.sellers track by $index" ng-value="seller.id">
                        <span>{{seller.SlpName}}</span>
                        <span ng-if="seller.id">| {{seller.id}}</span>
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>

              </section>

              <!--MODULES CHOOSER-->
              <section>
                <h2><strong>Modulos</strong></h2>
                <div layout="row" layout-wrap>

                  <div flex="33">
                    <p><label><strong>Usuarios</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'users'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Productos</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'products'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Comisiones</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'comissions'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Marketing</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'marketing'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Configuración</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'config'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Oportunidades</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'leads'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Marcas</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'brands'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Categorias</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'categories'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Filtros</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'filters'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                  <div flex="33">
                    <p><label><strong>Agrupadores</strong></label></p>
                    <div class="scroll-column scroll-column-modules">
                      <div class="block-checkbox" ng-repeat="module in vm.modules | filter:{section:'groups'}">
                        <md-checkbox  ng-model="module.isActive" aria-label="Checkbox 1">
                          {{module.label}}
                        </md-checkbox>
                      </div>
                    </div>
                  </div>

                </div>
              </section>
              <!--END MODULES CHOOSER-->

              <div>
                <md-button type="submit" class="md-raised md-accent action-button" aria-label="Guardar"
                           ng-click="vm.sendForm(basicForm)">
                    Registrar
                </md-button>
              </div>

            </form>

          </md-content>

          <!--<div form-helper flex="80"></div>-->
        </section>


    </div>
    <!-- / CONTENT -->
  </div>

</div>
