<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Tables</span>
            </div>
            <div class="title">Products Categories</div>
        </div>

        <div layout="row" layout-align="start center">
            <md-button class="md-raised reference-button"
                       href="https://l-lin.github.io/angular-datatables"
                       target="_blank">
                <md-icon md-font-icon="icon-link"></md-icon>
                <span>Reference</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools">
              <h3>Crear categoria</h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding">

            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form ng-if="!vm.isLoading" ng-submit="vm.create()" class="md-inline-form" novalidate>
              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.create($event)" class="md-raised md-primary">Guardar</md-button>
              </div>
              <p>
                <md-input-container>
                  <input type="text" ng-model="vm.category.Name" placeholder="Name">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <input type="text" ng-model="vm.category.Keywords" placeholder="Keywords">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <input type="text" ng-model="vm.category.Handle" placeholder="Handle">
                </md-input-container>
              </p>
              <p>
                <md-checkbox ng-model="vm.category.IsMain" aria-label="Categoria principal">
                  Categoria principal
                </md-checkbox>
              </p>
              <!--
              <p ng-if="!vm.category.IsMain">
                <md-input-container>
                  <input type="number" min="2" ng-model="vm.category.CategoryLevel" placeholder="Category Level">
                </md-input-container>
              </p>
              -->

              <p><label><strong>Categorias padre</strong></label></p>

              <md-list ng-if="!vm.category.IsMain">
                <md-list-item ng-repeat="category in vm.categories | orderBy:'-Childs'">
                  <md-checkbox ng-model="category.selected"></md-checkbox>
                  <p>
                    {{category.Name}}
                    <span ng-if="category.IsMain"> (Categoria principal)</span>
                  </p>

                </md-list-item>
              </md-list>

              <md-input-container>
                <label for=""><strong>Descripción</strong></label>
                <textarea ng-model="vm.category.Description" md-maxlength="150" rows="5" md-select-on-focus>
              </md-input-container>

              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.create($event)" class="md-raised md-primary">Guardar</md-button>
              </div>

            </form>
          </md-content>
        </section>

      </div>


    </div>
    <!-- / CONTENT -->

</div>




