<section class="md-whiteframe-z1">
  <md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools">
      <h3>Empaque y envio</h3>
    </div>
  </md-toolbar>
  <md-content class="md-padding">

    <div layout="row" layout-align="end center">
      <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary">Guardar</md-button>
    </div>


    <div class="select-element-wrapper">
      <p class="select-element-label"><label><strong>Ensamble</strong></label></p>
      <md-select class="select-element" placeholder="Ensamble" ng-model="vm.product.Ensemble">
        <md-option ng-repeat="ensemble in vm.ensembles" value="{{ensemble.value}}">
          {{ensemble.label}}
        </md-option>
      </md-select>
    </div>

    <div class="select-element-wrapper">
      <p lass="select-element-label"><label><strong>Tiempo de ensamble</strong></label></p>
      <md-input-container>
        <md-select class="select-element" placeholder="Tiempo de ensamble" ng-model="vm.product.EnsembleTime">
          <md-option ng-repeat="ensembleTime in vm.ensembleTimes" value="{{ensembleTime.value}}">
            {{ensembleTime.label}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="wyswyg-block">
      <label for=""><strong>Contenido del paquete</strong></label>
      <wysiwyg-edit content="vm.product.PackageContent"></wysiwyg-edit>
    </div>

    <div class="input-element number-element">
      <label>Piezas comerciales</label>
      <div class="input-element-inner">
        <input type="number" ng-model="vm.product.CommercialPieces">
      </div>
    </div>

    <div class="input-element number-element">
      <label>Piezas de envío</label>
      <div class="input-element-inner">
        <input type="number" ng-model="vm.product.DeliveryPieces">
      </div>
    </div>


    <!--PACKAGE SIZE-->
    <div>
      <h2><label><strong>Medidas y peso articulo</strong></label></h2>
      <div class="input-element">
        <label>Longitud</label>
        <div class="input-element-inner">
          <input type="text" placeholder="Longitud" ng-model="vm.product.Length">
        </div>
      </div>
      <div class="input-element">
        <label>Ancho</label>
        <div class="input-element-inner">
          <input type="text" placeholder="Ancho" ng-model="vm.product.Width">
        </div>
      </div>
      <div class="input-element">
        <label>Altura</label>
        <div class="input-element-inner">
          <input type="text" placeholder="Altura" ng-model="vm.product.Height">
        </div>
      </div>
      <div class="input-element">
        <label>Volumen</label>
        <div class="input-element-inner">
          <input type="text" placeholder="Volumen" ng-model="vm.product.Volume">
        </div>
      </div>
      <div class="input-element">
        <label>Peso (kg)</label>
        <div class="input-element-inner">
          <input type="text" placeholder="Peso (kg)" ng-model="vm.product.Weight">
        </div>
      </div>
    </div>
    <!--END PACKAGE SIZE-->

    <!--SIZES-->
    <div>
      <p><label><strong>Medidas y peso pieza empaque</strong></label></p>
      <p ng-if="vm.product.Sizes.length <= 0">No hay medidas agregadas a este producto</p>

      <ul ng-if="!vm.isLoadingValues" class="draggable-list" dnd-list="vm.product.Sizes">
        <li
          ng-repeat="size in vm.product.Sizes"
          class="noright"
          layout="row"
          layout-align="space-between center"
          dnd-draggable="size"
          dnd-moved="vm.product.Sizes.splice($index, 1)"
          dnd-selected="vm.selectedSize = size"
          ng-class="{'selected-item': vm.selectedSize === size}"
          dnd-effect-allowed="move">
          <p>Longitud : {{ size.Length }} | Ancho: {{size.Width}} | Altura: {{size.Height}} | Volumen: {{size.Volume}} | Peso(kg): {{size.Weight}}</p>
          <div class="md-secondary">
            <md-button ng-click="vm.openSizeForm($event, 'edit', size)" class="md-raised md-primary">
              Editar
            </md-button>
            <md-button ng-click="vm.removeSize($index)" class="md-raised md-warn">
              Eliminar
            </md-button>
          </div>
        </li>
      </ul>

      <div>
        <md-button ng-click="vm.openSizeForm($event, 'add')" class="md-raised md-primary">
          Agregar tamaño
        </md-button>
      </div>
    </div>
    <!--END FILTER VALUES-->



    <div layout="row" layout-align="end center">
      <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary action-button">Guardar</md-button>
    </div>

  </md-content>
</section>
