<section class="md-whiteframe-z1">
  <md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools">
      <h3>Configuración</h3>
    </div>
  </md-toolbar>
  <md-content class="md-padding">

    <div layout="row" layout-align="end center">
      <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary action-button">Guardar</md-button>
    </div>

    <!--CATEGORY CHOOSER-->
    <div>
      <h2><strong>Categorias</strong></h2>
      <div layout="row" layout-wrap>
        <div ng-repeat="group in vm.categoriesGroups track by $index" flex="33" flex-sm="100">
          <p ng-if="group.length > 0">
            <label><strong>Categorias Nivel {{$index+1}}</strong></label>
          </p>
          <div class="scroll-column">
            <md-checkbox class="spaced-checkbox block-checkbox" ng-repeat="category in group" ng-model="category.selected">{{category.Name}}</md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <!--END CATEGORY CHOOSER-->

    <!--DISPLAYS-->
    <div>
      <h2><strong>Pagina Display</strong></h2>
      <div>
        <md-checkbox class="spaced-checkbox block-checkbox" ng-repeat="display in vm.displays" ng-model="vm.product[display.handle]">{{display.label}}</md-checkbox>
      </div>
    </div>
    <!--END DISPLAYS-->

    <!--DISPLAYS-->
    <div>
      <h2><strong>Sociedad*</strong></h2>
      <div>
        <md-input-container>
          <md-select class="select-element" placeholder="Compañia" required ng-model="vm.product.SA">
            <md-option ng-repeat="company in vm.companies track by $index" value="{{company.handle}}">
              {{company.handle}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <!--END DISPLAYS-->

    <!--MARCA-->
    <div>
      <h2><strong>Marca: </strong></h2>
        <p class="select-element-label"><label><strong>Marca</strong></label></p>
        <md-input-container>
          <md-select class="select-element select-element-lg" ng-model="vm.product.Brand">

            <md-option ng-repeat="brand in vm.brands track by $index" ng-value="brand.ItmsGrpCod">
              {{brand.ItmsGrpNam}}
            </md-option>
          </md-select>
        </md-input-container>
        <p class="input-hint"><strong>SAP:</strong>Marca: {{vm.productBrandSap.ItmsGrpNam}}</p>
    </div>
    <!--MARCA-->

    <!--MODELO-->
    <div>
      <h2><strong>Agrupador de productos (Modelo)</strong></h2>

      <div class="input-element">
        <label>Código de agrupador</label>
        <div class="input-element-inner">
          <input type="text" ng-model="vm.product.Grouper" name="Grouper" placeholder="Código de agrupador" >
        </div>
        <p class="input-hint"><strong>SAP</strong>: {{vm.product.SuppCatNum}}</p>
      </div>

    </div>
    <!--MODELO-->


    <div layout="row" layout-align="end center">
      <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary">Guardar</md-button>
    </div>

  </md-content>
</section>
