<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Filtros de productos</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools">
              <h3>Crear filtro</h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding">

            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form name="createForm" ng-if="!vm.isLoading" ng-submit="vm.create(createForm)" class="md-inline-form" novalidate>
              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.create(createForm)" class="md-raised md-primary">Guardar</md-button>
              </div>

              <p>
                <md-input-container>
                  <input type="text" ng-model="vm.filter.Name" required placeholder="Nombre*">
                </md-input-container>
              </p>

              <p>
                <md-input-container>
                  <input type="text" ng-model="vm.filter.Handle" required placeholder="Handle*">
                </md-input-container>
              </p>

              <p>
                <md-checkbox ng-model="vm.filter.IsMultiple" aria-label="¿Acepta valores multiples?">
                  ¿Acepta valores multiples?
                </md-checkbox>
              </p>

              <md-input-container>
                <label for=""><strong>Descripción</strong></label>
                <textarea ng-model="vm.filter.Description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
              </md-input-container>

              <div layout="row" layout-wrap>
                <p flex="100"><label><strong>Valores aceptados*</strong></label></p>
                <md-chips flex="60" ng-model="vm.filter.Values"></md-chips>
              </div>


              <!--CATEGORY CHOOSER-->
              <div>
                <h2><strong>Categorias con este filtro</strong></h2>

                <div ng-repeat="group in vm.categoriesGroups track by $index">
                  <p ng-if="group.length > 0">
                    <label><strong>Categorias Nivel {{$index+1}}</strong></label>
                  </p>
                  <div >
                    <md-checkbox class="spaced-checkbox" ng-repeat="category in group" ng-model="category.selected">{{category.Name}}</md-checkbox>
                  </div>
                </div>

              </div>
              <!--END CATEGORY CHOOSER-->


              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.create(createForm)" class="md-raised md-primary">Guardar</md-button>
              </div>

            </form>
          </md-content>
        </section>

      </div>


    </div>
    <!-- / CONTENT -->

</div>




