<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Filtros de productos</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools">
              <h3>Editar filtro</h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding">

            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form name="updateForm" ng-if="!vm.isLoading" ng-submit="vm.update(updateForm)" class="md-inline-form" novalidate>
              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary action-button">Guardar</md-button>
                <md-button ng-click="vm.showDestroyDialog($event)" class="md-raised md-warn">Eliminar</md-button>
              </div>


              <div class="input-element">
                <label>Nombre*</label>
                <div class="input-element-inner">
                  <input type="text" ng-model="vm.filter.Name" required placeholder="Nombre*">
                </div>
              </div>

              <div class="input-element">
                <label>Handle*</label>
                <div class="input-element-inner">
                  <input type="text" ng-model="vm.filter.Handle" required placeholder="Handle*">
                </div>
              </div>

              <div class="input-element textarea-element">
                <label>Descripción</label>
                <div class="input-element-inner">
                  <textarea ng-model="vm.filter.Description" placeholder="Descripción" rows="5"></textarea>
                </div>
              </div>

              <p>
                <md-checkbox ng-model="vm.filter.IsMultiple" aria-label="¿Acepta valores multiples?">
                  ¿Acepta valores multiples?
                </md-checkbox>
              </p>


              <!--FILTER VALUES-->
              <div>
                <p><label><strong>Valores aceptados*</strong></label></p>
                <p ng-if="vm.filter.Values.length <= 0">No hay valores agregados a este filtro</p>
                <div ng-show="vm.isLoadingValues" layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
                </div>

                <md-list ng-if="!vm.isLoadingValues" class="scroll-column scroll-column-xlg">
                  <md-list-item ng-repeat="value in vm.filter.Values track by $index" class="noright">
                    <p>{{ value.Name }}</p>
                    <div class="md-secondary" layout="row">
                      <md-button ng-click="vm.openValueForm($event, 'edit', value)" class="md-raised md-primary">
                        Editar
                      </md-button>
                      <md-button ng-click="vm.removeValue($event,value.id, $index)" class="md-raised md-warn">
                        Eliminar
                      </md-button>
                    </div>
                  </md-list-item>
                </md-list>

                <div>
                  <md-button ng-click="vm.openValueForm($event, 'add')" class="md-raised md-primary">
                    Agregar valor
                  </md-button>
                </div>
              </div>
              <!--END FILTER VALUES-->


              <!--CATEGORY CHOOSER-->
              <div>
                <h2><strong>Categorias con este filtro</strong></h2>

                <div layout="row" layout-wrap>
                  <div ng-repeat="group in vm.categoriesGroups track by $index" flex="33" flex-sm="100" >
                    <p ng-if="group.length > 0">
                      <label><strong>Categorias Nivel {{$index+1}}</strong></label>
                    </p>
                    <div class="scroll-column">
                      <md-checkbox class="spaced-checkbox" ng-repeat="category in group" ng-model="category.selected">{{category.Name}}</md-checkbox>
                    </div>
                  </div>
                </div>

              </div>
              <!--END CATEGORY CHOOSER-->

              <div layout="row" layout-align="end center">
                <md-button ng-click="vm.update(updateForm)" class="md-raised md-primary action-button">Guardar</md-button>
              </div>

            </form>
          </md-content>
        </section>

      </div>


    </div>
    <!-- / CONTENT -->

</div>




