/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


#new-search{
  padding: 9px;
  vertical-align: middle;
  position: relative;
  top: 1px;
  color: #fff;
  background: #039BE5;
  border-radius: 4px;
  margin-left: 4px;
}
div.dataTables_filter label{float: left;}
.page-layout.simple.fullwidth > .header {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 24px;
}
.price-tables .price-table{
  width:250px;
  margin:24px 18px 0 0;
}

.products-filter md-input-container .md-errors-spacer{display: none;}
.products-filter md-input-container + md-input-container{margin-left: 4px;}
.product-name a{color: #fff!important}

.custom-pagination ul{
  padding: 0;
  float: right;}
.clear{clear: both}
.custom-pagination ul li{
  display: inline-block;
  margin: 0 4px;
}
.custom-pagination ul li a{
  background: rgb(45,50,62);
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}
