/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


#new-search{
  padding: 9px;
  vertical-align: middle;
  position: relative;
  top: 1px;
  color: #fff;
  background: #039BE5;
  border-radius: 4px;
  margin-left: 4px;
}
div.dataTables_filter label{float: left;}
.page-layout.simple.fullwidth > .header {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    padding: 24px;
}
.price-tables .price-table{
  width:250px;
  margin:24px 18px 0 0;
}

.products-filter md-input-container .md-errors-spacer{display: none;}
.products-filter md-input-container + md-input-container{margin-left: 4px;}
.product-name a{color: #fff!important}

.custom-pagination ul{
  padding: 0;
  float: right;}
.clear{clear: both}
.custom-pagination ul li{
  display: inline-block;
  margin: 0 4px;
}
.custom-pagination ul li a{
  background: rgb(45,50,62);
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}

.custom-pagination li.active a {
  background: rgb(3,155,229);
}
.file-manager-thumbs img{max-width: 102px;}
.file-manager-btn{margin: 10px 0;}
.file-manager-thumb{position:relative;cursor: pointer;display: inline-block;margin: 4px}
.file-manager-thumb.selected:after{
  content: '';
  background: rgba(25,164,239,0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.file-manager-thumb.deleting:after{
  content: '';
  background: rgba(244,67,54,0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}
.row-info{margin:10px 0}

.content md-tabs-content-wrapper{margin-top:20px;}
.wyswyg-block{margin: 20px 0;}

.spaced-checkbox{margin: 10px!important;}
.block-checkbox{display: block;}

.colorpicker-sp{
  padding: 10px;
  max-width: 200px;
}
.colorpicker-sp-color-wrap{
  padding: 4px;
  line-height: 1;
  position: relative;
  cursor: pointer;
}
.colorpicker-sp-color-wrap.wrap-on .colorpicker-sp-color{
  border: 2px solid #039BE5;
}
.colorpicker-sp-color{
  display: inline-block;
  height: 30px;
  width: 100%;
  border: 1px solid #000;
}
.colorpicker-sp-checked{
  display: none;
  color: #fff!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.colorpicker-sp-checked.checked-on{
  display: block;
}

.editor-block{
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.54);
  border-top: 1px solid rgba(0,0,0,0.54);
  margin: 10px 0;
}

.editor-block + .editor-block{
  border-top:0;
}

.editor-row{
  margin: 10px 0;
}

/*-------------/
  #FORM ELEMENTS
/*------------*/
.input-element{
  max-width: 100%;
  border-radius: 2px;
  display: block;
  margin: 20px 0;
  position: relative;
  overflow: visible;
}
.input-element > label{
  font-weight: 700;
}

.select-element,
.input-element .input-element-inner{
  /*background: rgb(254,254,254);*/
  background: #f6f6f6;
  margin: 4px 0 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: visible;
  height: 36px;
}

.select-element md-select,
.input-element .input-element-inner textarea,
.input-element .input-element-inner input[type="text"],
.input-element .input-element-inner input[type="password"],
.input-element .input-element-inner input[type="email"],
.input-element .input-element-inner input[type="number"]{
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
}
wysiwyg-edit .tinyeditor .sizer{
  height: 200px;
}

.input-element.textarea-element .input-element-inner,
.input-element.textarea-element .input-element-inner textarea{
  height: auto;
}

.input-element.number-element .input-element-inner{
  max-width: 100px;
}
.input-element.number-element .input-element-inner input{
  padding: 0 0 0 15px;
  width: 100%;
  max-width: 100%;
}

.select-element{padding: 0 0 0 10px}
.select-element.md-default-theme:not([disabled]):focus .md-select-value,
.select-element:not([disabled]):focus .md-select-value{
  border: 0;
}
.select-element-label{margin: 0}
.select-element-label + md-input-container{margin-top:0;}
.select-element-wrapper{margin: 20px 0;}

/*----------------/
  #ERROR FIELDS
/*---------------*/
.input-element .ng-message,
.input-element div[ng-message]{
  color: #CE2329;
  font-size: 12px;
  margin-top: 5px;
}


/*---------------/
  #GLOBAL DASHBOARD
/*----------------*/
.ms-navigation .ms-navigation-node:not(.group).has-children:not(.collapsed) > ul{
  background: #fff;
}
.ms-navigation .ms-navigation-node:not(.group).has-children:not(.collapsed) > ul .ms-navigation-item .ms-navigation-button{
  color: #000;
}
.ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button.active{
  background: #CE2329;
  color: #fff!important;
}

.ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button .arrow{
  color: #CE2329;
}
#vertical-navigation .navigation-header{background: #fff;}
#vertical-navigation .navigation-header .fold-toggle{color: #000;}
#vertical-navigation .navigation-header .logo .logo-image{background: #000;}
.page-layout.simple.fullwidth > .header{
  background: none;
  color: #000;
  text-transform: uppercase;
}
#new-search{background: #000;}
.action-button{
  background: #34BA2C!important;
  color: #fff!important;
}
.action-button md-icon{color: #fff}

table.dataTable thead th{
  text-transform: uppercase;
  background-color: whitesmoke!important;
}

.filter-column{padding: 0 10px;}
.scroll-column{
  overflow: auto;
  max-height: 200px;
}
.scroll-column-lg{
  max-height: 260px;
}

.scroll-column-xlg{
  max-height: 400px;
}
