<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <!--
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Usuarios</div>
        </div>
    </div>
    -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
              <h3>EDITAR USUARIO</h3>
              <md-button type="submit" class="md-raised md-accent action-button" aria-label="Guardar"
                         ng-disabled="basicForm.$invalid || basicForm.$pristine || vm.isLoading">
                  Guardar
              </md-button>
            </div>
          </md-toolbar>
          <md-content class="md-padding">

            <form name="basicForm" flex="80" ng-submit="vm.sendForm($event)" class="md-inline-form" novalidate>

              <section layout="row" layout-wrap layout-align="space-between start">

                <div class="input-element" flex="30" flex-sm="100" flex-xs="100">
                  <label>Nombre*</label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" name="firstname" required placeholder="Nombre*">
                  </div>
                  <div ng-messages="basicForm.firstname.$error" ng-show="basicForm.firstname.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                </div>

                <div class="input-element" flex="30" flex-sm="100" flex-xs="100">
                  <label>Apellidos*</label>
                  <div class="input-element-inner">
                    <input type="text" name="lastname" ng-model="vm.user.lastName" placeholder="Apellidos"
                                 required>
                  </div>
                  <div ng-messages="basicForm.lastname.$error" ng-show="basicForm.lastname.$touched"
                       role="alert">
                      <div ng-message="required">
                          <span>Este campo es requerido.</span>
                      </div>
                  </div>
                </div>

                <div class="input-element" flex="30" flex-sm="100" flex-xs="100">
                  <label>Email*</label>
                  <div class="input-element-inner">
                    <input type="email" name="email" ng-model="vm.user.email" placeholder="Email"
                               translate
                               ng-pattern="/^.+@.+\..+$/" required>
                  </div>
                  <div ng-messages="basicForm.email.$error" ng-show="basicForm.email.$touched" role="alert" multiple>
                      <div ng-message="required">
                          <span>Este campo es requerido</span>
                      </div>
                      <div ng-message="pattern">
                          <span>E-mail invalido</span>
                      </div>
                  </div>
                </div>

              </section>

              <section layout="row" layout-wrap layout-align="space-between start">

                <div class="input-element " flex="45" flex-sm="100" flex-xs="100">
                  <p class="select-element-label"><label><strong>Rol*</strong></label></p>
                  <md-input-container>
                    <md-select class="select-element select-element-lg" ng-model="vm.user.userType">
                      <md-option ng-repeat="role in vm.roles track by $index" value="{{role.handle}}">
                        {{role.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <!--Tienda-->
                <div class="input-element" flex="45" flex-sm="100" flex-xs="100">
                  <p class="select-element-label"><label><strong>Tienda*</strong></label></p>
                  <md-input-container>
                    <md-select class="select-element select-element-lg" ng-model="vm.user.company">

                      <md-option ng-repeat="company in vm.companies track by $index" ng-value="company.handle">
                        {{company.label}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <!--Tienda-->

              </section>

              <p><a target="_blank" href="/auth/forgot-password">Haz click aqui para cambiar la contraseña</a></p>

              <div>
                <md-button type="submit" class="md-raised md-accent action-button" aria-label="Guardar"
                           ng-disabled="basicForm.$invalid || basicForm.$pristine || vm.isLoading">
                    Guardar
                </md-button>
              </div>


            </form>

          </md-content>

          <!--<div form-helper flex="80"></div>-->
        </section>


    </div>
    <!-- / CONTENT -->
  </div>

</div>
